﻿.navbar {
    border-radius: 0px;
    border: 0px;
}

[hidden],
template {
    //display: none !important;
    visibility: hidden;
}


.alert, .form-control, .btn {
    border-radius: 0px;
}

.modal-dialog > .modal-content {
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.04), 0 2px 1px -1px rgba(0, 0, 0, 0.05);
    border-radius: 3px;
}