﻿@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400|Open+Sans:400italic,400,600|Muli:300|Indie+Flower:400|Oswald:400,700,300);

$footer-heigth: 70px;

/*
    Workaround for pages with height smaller than device height, which shows a white space if scrolled up or down.
    Only happens on small screens like iphone 5 and 6
*/
@media (max-height: 700px) {
    body {
        min-height: 700px !important;
    }
}

body {
    font-family: "lato", sans-serif;
    font-size:16px;
    background-color: #efefef;
    position: relative;
    min-height: 100vh;
    margin: 0;
}

.main-content {
    padding-bottom: $footer-heigth + 30px;
}

//sticky footer, combined with body min-height and body position relative
.main-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: $footer-heigth;
}


/*
    container boxes
*/
.container-box {
    background-color: #FFF;
    width: 100%;
    padding: 20px 20px 20px 20px;
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.04), 0 2px 1px -1px rgba(0, 0, 0, 0.05);
    border-radius: 3px;
    margin-top: 50px;
}

.container-box h2 {
    text-align: center;
}

/*-------------------------------------------------------------------*/
/* Back to Top */
/*-------------------------------------------------------------------*/
#back-top a {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999999999;
    color: #eee;
    background-color: rgba(0, 0, 0, 0.3);
    transition: all .25s ease;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

#back-top a:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

#back-top a i {
    font-size: 2em;
}


h3.h3-no-margin {
    margin-top: 0px !important;
    margin-bottom: 5px !important;
}

@media (max-width: 767px) {
    #back-top a {
        position: fixed;
        bottom: 10px;
        right: 10px;
    }

    #back-top a i {
        font-size: 1.6em;
    }
}
