﻿<div class="container">
    
    <div class="row">
        <div class="col-md-4 col-sm-2 col-xs-1"></div>

        <div class="col-md-4 col-sm-8 col-xs-10">
            <div class="container-box">

                <h2>Signup page</h2>

                <form role="form" #signUpForm="ngForm" (ngSubmit)="onFormSubmit(signUpForm)">

                    <div class="form-group" [class.has-error]="!emailAddress.valid && !emailAddress.pristine">
                        <label for="input-email">Email address</label>
                        <input type="email" class="form-control"
                               id="input-email" [(ngModel)]="model.emailAddress"
                               name="emailAddress" #emailAddress="ngModel" [email]="true" required>
                        <span class="help-block" [hidden]="emailAddress.valid || emailAddress.pristine">Invalid email address.</span>
                    </div>

                    <div class="form-group" [class.has-error]="!password.valid && !password.pristine">
                        <label for="input-password">Password</label>
                        <input type="password" class="form-control"
                               id="input-password" [(ngModel)]="model.password" #password="ngModel" name="password" required>
                        <span class="help-block" [hidden]="password.valid || password.pristine">Invalid password.</span>
                    </div>
                    <div *ngIf="errorMessage" class="form-group alert alert-danger">
                        <span>{{errorMessage}}</span>
                    </div>
                    <button type="submit"
                            class="btn btn-primary pull-right"
                            [disabled]="!signUpForm.form.valid">
                        Create! &nbsp; <i class="fa fa-chevron-right"></i>
                    </button>
                    
                    <div class="clearfix"></div>

                    <div class="form-group">
                        <h5 class="text-center">
                            <small>Have an account already? <a routerLink="/account/login" routerLinkActive="active">Login here.</a></small>
                        </h5>
                    </div>
                </form>
            </div>
        </div>

        <div class="col-md-4 col-sm-2 col-xs-1"></div>
    </div>
</div>