﻿<loader-component></loader-component>

<div class="main-header">
    <menu-component>Loading menu...</menu-component>
</div>

<div class="main-content">
    <router-outlet></router-outlet>
</div>


<div class="main-footer">
    <footer-component>Loading footer...</footer-component>
</div>

