<div class="container">
    <div class="row">
        <div class="col-xs-1 hidden-lg hidden-md hidden-sm"></div>

        <div class="col-xs-10 col-sm-12 col-md-12 col-lg-12">
            <router-outlet></router-outlet>
        </div>

        <div class="col-xs-1 hidden-lg hidden-md hidden-sm"></div>
    </div>
</div>