﻿div.vertical-center {
    height: 100%;
    line-height: 70px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

div.fixed-height70px {
    height: 70px !important;
}

h4.h4-no-wrap {
    white-space: nowrap !important;
}

.link-pointer {
    cursor: pointer;
}