﻿<div class="container">
    <div class="row">
        <div class="col-xs-1 hidden-lg hidden-md hidden-sm"></div>

        <div class="col-xs-10 col-sm-12 col-md-12 col-lg-12">

            <div class="container-box">
                <div class="form-inline">
                    <div class="form-group">
                        <label class="sr-only" for="animalName">Animal name</label>
                        <input class="form-control" type="text" placeholder="Animal name" [(ngModel)]="filterModel.animalName"
                              id="animalName" name="animalName" #animalName="ngModel" style="min-width: 200px;" />
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="input-selectedAnimalSpeciesId">Species</label>
                        <select class="form-control" (change)="onAnimalSpeciesChanged()"
                                id="input-selectedAnimalSpeciesId" name="selectedAnimalSpeciesId" style="min-width: 200px;"
                                [(ngModel)]="filterModel.animalSpeciesId" #selectedAnimalSpeciesId="ngModel">
                            <option selected value="" disabled>Animal species</option>
                            <option *ngFor="let species of speciesAndBreedsModel.animalSpecies" [value]="species.id">{{species.name}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="input-selectedAnimalBreedId">Breed</label>
                        <select class="form-control" [disabled]="filterModel.animalSpeciesId == ''"
                                id="input-selectedAnimalBreedId" name="selectedAnimalBreedId" style="min-width: 200px;"
                                [(ngModel)]="filterModel.animalBreedId" #selectedAnimalBreedId="ngModel">
                            <option selected value="" disabled>Animal breed</option>
                            <option *ngFor="let breed of speciesAndBreedsModel.animalBreeds | filterBreed: [filterModel.animalSpeciesId]" [value]="breed.id">{{breed.name}}</option>
                        </select>
                    </div>

                    <button type="button" (click)="applyFilter()"
                            class="btn btn-primary pull-right">
                        Search &nbsp; <i class="fa fa-chevron-right"></i>
                    </button>
                    <button type="button" (click)="resetFilter()" style="margin-right: 10px;"
                            class="btn btn-danger pull-right">
                        Reset &nbsp; <i class="fa fa-chevron-right"></i>
                    </button>
                    <div class="clearfix"></div>
                </div>

                

                
            </div>

            <div (click)="onAnimalClick(animal.id)" class="container-box fixed-height-70px link-pointer" *ngFor="let animal of model">

                <div class="row">
                    <div class="col-xs-10 col-sm-11 col-md-11">
                        <h3 class="h3-no-margin">{{animal.name}}</h3>
                        <div class="row">
                            <div class="col-xs-12 col-sm-4 col-md-4">
                                <h4><small>Species: </small> {{animal.animalSpeciesName}}</h4>
                            </div>
                            <div class="hidden-xs col-sm-4 col-md-4">
                                <h4 class="h4-no-wrap"><small>Breed: </small>{{animal.animalBreedName}}</h4>
                            </div>
                            <div class="hidden-xs col-sm-4 col-md-4">
                                <h4 *ngIf="animal.age"><small>Age: </small>{{animal.age}} years old</h4>
                            </div>
                        </div>

                    </div>
                    <div class="col-xs-2 col-sm-1 col-md-1 vertical-center">
                        <span class="text-center"><i class="fa fa-chevron-right"></i></span>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-xs-1 hidden-lg hidden-md hidden-sm"></div>
    </div>
</div>