﻿<div *ngIf="accountModel" class="container">

    <div class="row">
        <h2 class="text-center">Account Details</h2>
        <h2></h2>

        <h4 class="text-center"><b>Email: </b>{{accountModel.emailAddress}}</h4>
        <h5 class="text-center"><b>Created At: </b>{{accountModel.createdAt | date: 'dd-MMM-yyyy HH:mm'}}</h5>
        <h5 class="text-center alert alert-danger" *ngIf="errorMessage">{{errorMessage}}</h5>

        <div class="col-md-4 col-sm-12 col-xs-12">

            <div *ngIf="sanctuaryEditMode == false" class="container-box">

                <h4 class="text-center">Add Sanctuary Details</h4>

                <form role="form" #addSanctuaryForm="ngForm" (ngSubmit)="onAddSanctuaryFormSubmit(addSanctuaryForm)">

                    <div class="form-group" [class.has-error]="!name.valid && !name.pristine">
                        <label for="input-name">Name</label>
                        <input type="text" class="form-control"
                               id="input-name" [(ngModel)]="sanctuaryDetailsModel.name" #name="ngModel" name="name" required>
                        <span class="help-block" [hidden]="name.valid || name.pristine">Invalid name.</span>
                    </div>

                    <div class="form-group" [class.has-error]="!fullAddress.valid && !fullAddress.pristine">
                        <label for="input-address">Address</label>
                        <input type="text" class="form-control"
                               placeholder="number street, city, postcode, state, country"
                               id="input-address" [(ngModel)]="sanctuaryDetailsModel.fullAddress"
                               name="fullAddress" #fullAddress="ngModel" required>
                        <span class="help-block" [hidden]="fullAddress.valid || fullAddress.pristine">Invalid address.</span>
                    </div>

                    <div *ngIf="sanctuaryDetailsSuccessMessage" class="form-group alert alert-success">
                        <span>{{sanctuaryDetailsSuccessMessage}}</span>
                    </div>
                    <div *ngIf="sanctuaryDetailsErrorMessage" class="form-group alert alert-danger">
                        <span>{{sanctuaryDetailsErrorMessage}}</span>
                    </div>
                    <button type="submit"
                            class="btn btn-primary pull-right"
                            [disabled]="!addSanctuaryForm.form.valid || addSanctuaryForm.form.pristine">
                        Save! &nbsp; <i class="fa fa-chevron-right"></i>
                    </button>

                    <div class="clearfix"></div>

                </form>
            </div>

            <div *ngIf="sanctuaryEditMode == true" class="container-box">

                <h4 class="text-center">
                    <a [routerLink]="['/sanctuary' ]" routerLinkActive="active">
                        <u>{{sanctuaryDetailsModel.name}}</u>
                    </a>
                </h4>

                <form role="form" #editSanctuaryForm="ngForm" (ngSubmit)="onEditSanctuaryFormSubmit(editSanctuaryForm)">

                    <div class="form-group" [class.has-error]="!name.valid && !name.pristine">
                        <label for="input-name">Name</label>
                        <input type="text" class="form-control"
                               id="input-name" [(ngModel)]="sanctuaryDetailsModel.name" #name="ngModel" name="name" required>
                        <span class="help-block" [hidden]="name.valid || name.pristine">Invalid name.</span>
                    </div>

                    <div class="form-group" [class.has-error]="!fullAddress.valid && !fullAddress.pristine">
                        <label for="input-address">Address</label>
                        <input type="text" class="form-control"
                               placeholder="number street, city, postcode, state, country"
                               id="input-address" [(ngModel)]="sanctuaryDetailsModel.fullAddress"
                               name="fullAddress" #fullAddress="ngModel" required>
                        <span class="help-block" [hidden]="fullAddress.valid || fullAddress.pristine">Invalid address.</span>
                    </div>

                    <div *ngIf="sanctuaryDetailsSuccessMessage" class="form-group alert alert-success">
                        <span>{{sanctuaryDetailsSuccessMessage}}</span>
                    </div>
                    <div *ngIf="sanctuaryDetailsErrorMessage" class="form-group alert alert-danger">
                        <span>{{sanctuaryDetailsErrorMessage}}</span>
                    </div>
                    <button type="submit"
                            class="btn btn-primary pull-right"
                            [disabled]="!editSanctuaryForm.form.valid || editSanctuaryForm.form.pristine">
                        Save! &nbsp; <i class="fa fa-chevron-right"></i>
                    </button>

                    <div class="clearfix"></div>

                </form>
            </div>

        </div>

        <div class="col-md-4 col-sm-12 col-xs-12">

            <div class="container-box">

                <h4 class="text-center">Contact Details</h4>

                <form role="form" #contactDetailsForm="ngForm" (ngSubmit)="oncontactDetailsFormSubmit(contactDetailsForm)">

                    <div class="form-group" [class.has-error]="!firstName.valid && !firstName.pristine">
                        <label for="input-firstname">First name</label>
                        <input type="text" class="form-control"
                               id="input-firstname" [(ngModel)]="accountModel.firstName" #firstName="ngModel" name="firstName" required>
                        <span class="help-block" [hidden]="firstName.valid || firstName.pristine">Invalid first name.</span>
                    </div>

                    <div class="form-group" [class.has-error]="!lastName.valid && !lastName.pristine">
                        <label for="input-lastname">Last name</label>
                        <input type="text" class="form-control"
                               id="input-lastname" [(ngModel)]="accountModel.lastName"
                               name="lastName" #lastName="ngModel" required>
                        <span class="help-block" [hidden]="lastName.valid || lastName.pristine">Invalid last name.</span>
                    </div>

                    <div *ngIf="contactDetailsErrorMessage" class="form-group alert alert-danger">
                        <span>{{contactDetailsErrorMessage}}</span>
                    </div>
                    <div *ngIf="contactDetailsSuccessMessage" class="form-group alert alert-success">
                        <span>{{contactDetailsSuccessMessage}}</span>
                    </div>
                    <button type="submit"
                            class="btn btn-primary pull-right"
                            [disabled]="!contactDetailsForm.form.valid || contactDetailsForm.form.pristine">
                        Save! &nbsp; <i class="fa fa-chevron-right"></i>
                    </button>

                    <div class="clearfix"></div>

                </form>
            </div>

        </div>

        <div class="col-md-4 col-sm-12 col-xs-12">

            <div class="container-box">

                <h4 class="text-center">Change Password</h4>

                <form role="form" #changePasswordForm="ngForm" (ngSubmit)="onchangePasswordFormSubmit(changePasswordForm)">

                    <div class="form-group" [class.has-error]="!password.valid && !password.pristine">
                        <label for="input-password">New password</label>
                        <input type="password" class="form-control"
                               id="input-password" [(ngModel)]="changePasswordModel.password" #password="ngModel" name="password" required>
                        <span class="help-block" [hidden]="password.valid || password.pristine">Invalid password.</span>
                    </div>

                    <div class="form-group" [class.has-error]="!confirmedPassword.valid && !confirmedPassword.pristine">
                        <label for="input-confirmed-password">Confirm new password</label>
                        <input type="password" class="form-control"
                               id="input-confirmed-password" [(ngModel)]="changePasswordModel.confirmedPassword"
                               name="confirmedPassword" #confirmedPassword="ngModel" required>
                        <span class="help-block" [hidden]="confirmedPassword.valid || confirmedPassword.pristine">Invalid confirmation.</span>
                    </div>

                    <div *ngIf="changePasswordSuccessMessage" class="form-group alert alert-success">
                        <span>{{changePasswordSuccessMessage}}</span>
                    </div>
                    <div *ngIf="changePasswordErrorMessage" class="form-group alert alert-danger">
                        <span>{{changePasswordErrorMessage}}</span>
                    </div>
                    <button type="submit"
                            class="btn btn-primary pull-right"
                            [disabled]="!changePasswordForm.form.valid || changePasswordForm.form.pristine">
                        Save! &nbsp; <i class="fa fa-chevron-right"></i>
                    </button>

                    <div class="clearfix"></div>

                </form>
            </div>

            <div class="container-box">
                <h4 class="text-center">Deactivate Account</h4>
                <button class="btn btn-primary pull-right"
                        disabled>
                    Deactivate &nbsp; <i class="fa fa-chevron-right"></i>
                </button>
                <div class="clearfix"></div>
            </div>

        </div>
    </div>
</div>