﻿<nav role="navigation" class="navigation-bar">
    <div id="menuToggle" class="">

        <input type="checkbox" id="menuHiddenChkBox" />

        <span></span>
        <span></span>
        <span></span>

        <ul id="menu" (click)="onMenuLinkClicked()">
            <hr />
            <a routerLink="/" routerLinkActive="active"><li>Home</li></a>
            <a routerLink="/contact" routerLinkActive="active-link"><li>Contact</li></a>
            <a *ngIf="isLoggedIn == true" routerLink="/account" routerLinkActive="active-link"><li>Account</li></a>
            <a *ngIf="isLoggedIn == true" routerLink="/sanctuary" routerLinkActive="active-link"><li>Sanctuary</li></a>
            <a *ngIf="isLoggedIn == true" routerLink="/account/logout" routerLinkActive="active-link"><li>Logout</li></a>
            <a *ngIf="isLoggedIn == false" routerLink="/account/signup" routerLinkActive="active-link"><li>Sign up!</li></a>
            <a *ngIf="isLoggedIn == false" routerLink="/account/login" routerLinkActive="active-link"><li>Login</li></a>
        </ul>

    </div>

    <div class="text-center"><h2>My Sanctuary</h2></div>
    <div class="clearfix"></div>
</nav>