<div>
    <button (click)="goBack()" class="btn btn-primary"><i class="fa fa-chevron-left"></i> &nbsp; Back</button>
</div>

<div class="row">

    <div class="col-xs-12 col-sm-6 col-md-6">
        <div *ngIf="model" class="container-box">

            <h3 class="text-center h3-no-margin">Animal details</h3>
            <hr />

            <div class="row">
                <div class="col-xs-12 col-sm-3 col-md-3">
                    <span>Animal Id:</span>
                </div>
                <div class="col-xs-12 col-sm-9 col-md-9">
                    <label>{{model.id}}</label>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-3 col-md-3">
                    <span>Name:</span>
                </div>
                <div class="col-xs-12 col-sm-9 col-md-9">
                    <label>{{model.name}}</label>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-3 col-md-3">
                    <span>Species:</span>
                </div>
                <div class="col-xs-12 col-sm-9 col-md-9">
                    <label>{{model.animalSpeciesName}}</label>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-3 col-md-3">
                    <span>Breed:</span>
                </div>
                <div class="col-xs-12 col-sm-9 col-md-9">
                    <label>{{model.animalBreedName}}</label>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="container-box">

            <h3 class="text-center h3-no-margin">Your donations</h3>
            <hr />

            <div *ngIf="ordersModel">

                <div *ngFor="let order of ordersModel">

                    <div class="row">
                        <div class="col-xs-12 col-sm-3 col-md-3">
                            <span>Date:</span>
                        </div>
                        <div class="col-xs-12 col-sm-9 col-md-9">
                            <label>{{order.createdAt  | date: 'dd-MMM-yyyy'}}</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-3 col-md-3">
                            <span>Amount:</span>
                        </div>
                        <div class="col-xs-12 col-sm-9 col-md-9">
                            <label>{{order.totalAmount | currency}}</label>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>

</div>