﻿<div class="container">

    <div class="row">
        <div class="col-md-4 col-sm-2 col-xs-1"></div>

        <div class="col-md-4 col-sm-8 col-xs-10">
            <div class="container-box">

                <h2>Request a new password</h2>
                <h3><small>We will email you instructions on how to reset it.</small></h3>

                <form role="form" #requestNewPasswordForm="ngForm" (ngSubmit)="onFormSubmit(requestNewPasswordForm)">

                    <div class="form-group" [class.has-error]="!emailAddress.valid && !emailAddress.pristine">
                        <label for="input-email">Email address</label>
                        <input type="email" class="form-control"
                               id="input-email" [(ngModel)]="model.emailAddress"
                               name="emailAddress" #emailAddress="ngModel" [email]="true" required>
                        <span class="help-block" [hidden]="emailAddress.valid || emailAddress.pristine">Invalid email address.</span>
                    </div>

                    
                    <div *ngIf="errorMessage" class="form-group alert alert-danger">
                        <span>{{errorMessage}}</span>
                    </div>
                    <div *ngIf="successMessage" class="form-group alert alert-info">
                        <span>{{successMessage}}</span>
                    </div>
                    <button type="submit"
                            class="btn btn-primary pull-right"
                            [disabled]="!requestNewPasswordForm.form.valid">
                        Request &nbsp; <i class="fa fa-chevron-right"></i>
                    </button>

                    <div class="clearfix"></div>
                </form>
            </div>
        </div>

        <div class="col-md-4 col-sm-2 col-xs-1"></div>
    </div>
</div>