﻿<div class="container">
    <div class="row">

        <div class="col-md-4 col-sm-2 col-xs-1"></div>

        <div class="col-md-4 col-sm-8 col-xs-10">
            <div class="container-box">

                <h2>Register a new animal</h2>

                <form role="form" #addAnimalForm="ngForm" (ngSubmit)="onFormSubmit(addAnimalForm)">

                    <div class="form-group" [class.has-error]="!animalName.valid && !animalName.pristine">
                        <label for="input-name">Name</label>
                        <input type="text" class="form-control"
                               id="input-name" [(ngModel)]="model.name"
                               name="animalName" #animalName="ngModel" required>
                        <span class="help-block" [hidden]="animalName.valid || animalName.pristine">Invalid name.</span>
                    </div>

                    <div class="form-group" [class.has-error]="!animalAge.valid && !animalAge.pristine">
                        <label for="input-animalAge">Age <small>(optional)</small></label>
                        <input type="number" class="form-control"
                               id="input-animalAge" [(ngModel)]="model.age" #animalAge="ngModel" name="animalAge">
                        <span class="help-block" [hidden]="animalAge.valid || animalAge.pristine">Invalid age.</span>
                    </div>

                    <div class="form-group" [class.has-error]="!animalGender.valid && !animalGender.pristine">
                        <label for="input-animalGender">Gender</label>
                        <select class="form-control"
                                id="input-animalGender" name="animalGender"
                                [(ngModel)]="model.gender" #animalGender="ngModel" required>
                            <option value=""></option>
                            <option value="F">Female</option>
                            <option value="M">Male</option>
                        </select>
                        <span class="help-block" [hidden]="animalGender.valid || animalGender.pristine">Invalid Gender.</span>
                    </div>

                    <div class="form-group" [class.has-error]="!selectedAnimalSpeciesId.valid && !selectedAnimalSpeciesId.pristine">
                        <label for="input-selectedAnimalSpeciesId">Species</label>
                        <select class="form-control" (change)="onAnimalSpeciesChanged(addAnimalForm)"
                               id="input-selectedAnimalSpeciesId" name="selectedAnimalSpeciesId"
                                [(ngModel)]="model.animalSpeciesId" #selectedAnimalSpeciesId="ngModel" required>
                            <option *ngFor="let species of speciesAndBreedsModel.animalSpecies" [value]="species.id">{{species.name}}</option>
                        </select>
                        <span class="help-block" [hidden]="selectedAnimalSpeciesId.valid || selectedAnimalSpeciesId.pristine">Invalid Species.</span>
                    </div>

                    <div class="form-group" [class.has-error]="!selectedAnimalBreedId.valid && !selectedAnimalBreedId.pristine">
                        <label for="input-selectedAnimalBreedId">Breed</label>
                        <select class="form-control" [disabled]="model.animalSpeciesId == null"
                                id="input-selectedAnimalBreedId" name="selectedAnimalBreedId"
                                [(ngModel)]="model.animalBreedId" #selectedAnimalBreedId="ngModel" required>
                            <option *ngFor="let breed of speciesAndBreedsModel.animalBreeds | filterBreed: [model.animalSpeciesId]" [value]="breed.id">{{breed.name}}</option>
                        </select>
                        <span class="help-block" [hidden]="selectedAnimalBreedId.valid || selectedAnimalBreedId.pristine">Invalid Breed.</span>
                    </div>

                    <div *ngIf="successMessage" class="form-group alert alert-success">
                        <span>{{successMessage}}</span>
                    </div>
                    <div *ngIf="errorMessage" class="form-group alert alert-danger">
                        <span>{{errorMessage}}</span>
                    </div>

                    <button type="submit"
                            class="btn btn-primary pull-right"
                            [disabled]="!addAnimalForm.form.valid">
                        Register! &nbsp; <i class="fa fa-chevron-right"></i>
                    </button>

                    <div class="clearfix"></div>
                </form>
            </div>
        </div>

        <div class="col-md-4 col-sm-2 col-xs-1"></div>

    </div>
</div>